In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

# Import Data

In [ ]:
df = pd.read_csv('/content/digilib_data_cleaned.csv')
df

,Judul,desc,desc_cleaned
0,Identifikasi Hipertensi menggunakan Heart Rate...,Identifikasi Hipertensi menggunakan Heart Rate...,identifikasi hipertensi heart rate variability...
1,ANALISIS SENTIMEN TERKAIT TANGGAPAN TUDUHAN NE...,ANALISIS SENTIMEN TERKAIT TANGGAPAN TUDUHAN NE...,analisis sentimen kait tanggap tuduh negatif p...
2,Rasio Keuangan pada Lima Bank di Indonesia den...,Rasio Keuangan pada Lima Bank di Indonesia den...,rasio uang bank indonesia artificial neural ne...
3,Model Prediksi Kekeringan Menggunakan Machine ...,Model Prediksi Kekeringan Menggunakan Machine ...,model prediksi kering machine learn kabupaten ...
4,Tinjauan Teknis Studi Supervised Machine Learn...,Tinjauan Teknis Studi Supervised Machine Learn...,tinjau teknis studi supervise machine learn im...
...,...,...,...
189,Eksperimentasi Model PJBL dengan Menggunakandi...,Eksperimentasi Model PJBL dengan Menggunakandi...,eksperimentasi model pjbl menggunakandiskusi f...
190,Engaging Students in A Digital Storytelling Pr...,Engaging Students in A Digital Storytelling Pr...,engage student in a digital storytelling proje...
191,Exploring Student’s Learning Enjoyment and Voc...,Exploring Student’s Learning Enjoyment and Voc...,explore student learn enjoyment and vocabulary...
192,Pengaruh Model Pembelajaran Problem Solving Da...,Pengaruh Model Pembelajaran Problem Solving Da...,pengaruh model ajar problem solve problem base...
193,Eksperimentasi Model Pembelajaran Problem Base...,Eksperimentasi Model Pembelajaran Problem Base...,eksperimentasi model ajar problem base learnin...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Judul         194 non-null    object
 1   desc          194 non-null    object
 2   desc_cleaned  194 non-null    object
dtypes: object(3)
memory usage: 4.7+ KB

In [ ]:
df = df[['Judul', 'desc_cleaned']]
df

,Judul,desc_cleaned
0,Identifikasi Hipertensi menggunakan Heart Rate...,identifikasi hipertensi heart rate variability...
1,ANALISIS SENTIMEN TERKAIT TANGGAPAN TUDUHAN NE...,analisis sentimen kait tanggap tuduh negatif p...
2,Rasio Keuangan pada Lima Bank di Indonesia den...,rasio uang bank indonesia artificial neural ne...
3,Model Prediksi Kekeringan Menggunakan Machine ...,model prediksi kering machine learn kabupaten ...
4,Tinjauan Teknis Studi Supervised Machine Learn...,tinjau teknis studi supervise machine learn im...
...,...,...
189,Eksperimentasi Model PJBL dengan Menggunakandi...,eksperimentasi model pjbl menggunakandiskusi f...
190,Engaging Students in A Digital Storytelling Pr...,engage student in a digital storytelling proje...
191,Exploring Student’s Learning Enjoyment and Voc...,explore student learn enjoyment and vocabulary...
192,Pengaruh Model Pembelajaran Problem Solving Da...,pengaruh model ajar problem solve problem base...
193,Eksperimentasi Model Pembelajaran Problem Base...,eksperimentasi model ajar problem base learnin...

#Vectorizing Data

In [ ]:
tfidf = TfidfVectorizer(max_features=5000)

In [ ]:
vectorized_data = tfidf.fit_transform(df['desc_cleaned'].values)
vectorized_data

<194x5000 sparse matrix of type '<class 'numpy.float64'>'
	with 20303 stored elements in Compressed Sparse Row format>

In [ ]:
tfidf.get_feature_names_out()

array(['000', '0000', '0000005', ..., 'znya', 'zstd', 'zukhronah'],
      dtype=object)

In [ ]:
vectorized_dataframe = pd.DataFrame(vectorized_data.toarray(), index=df['desc_cleaned'].index.tolist())
vectorized_dataframe

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.305724,0.076431,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
190,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
191,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
192,0.0,0.0,0.0,0.0,0.0,0.0,0.064205,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
193,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0

# Model

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
vectorized_array = vectorized_dataframe.to_numpy()
vectorized_array

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
vectorized_array.shape

(194, 5000)

In [ ]:
similarity = cosine_similarity(vectorized_array)
similarity

array([[1.        , 0.01847681, 0.04204189, ..., 0.00764031, 0.00969258,
        0.00567192],
       [0.01847681, 1.        , 0.02047145, ..., 0.01735597, 0.00823665,
        0.00573197],
       [0.04204189, 0.02047145, 1.        , ..., 0.00167282, 0.02232524,
        0.01081839],
       ...,
       [0.00764031, 0.01735597, 0.00167282, ..., 1.        , 0.01138809,
        0.01036685],
       [0.00969258, 0.00823665, 0.02232524, ..., 0.01138809, 1.        ,
        0.27797857],
       [0.00567192, 0.00573197, 0.01081839, ..., 0.01036685, 0.27797857,
        1.        ]])

In [ ]:
def recomendation_system(judul):
    id_of_digilib = df[df['Judul']==judul].index[0]
    distances = similarity[id_of_digilib]
    digilib_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:15]
    for digilib_id in digilib_list:
        print('===================')
        print(df.iloc[digilib_id[0]].Judul)

In [ ]:
df['Judul'].iloc[7]

'PREDIKSI HARGA BITCOIN BERDASARKAN SENTIMEN SOSIAL DAN HISTORICAL PRICE MENGGUNAKAN LONG-SHORT TERM MEMMORY (LSTM)'

In [ ]:
recomendation_system('PREDIKSI HARGA BITCOIN BERDASARKAN SENTIMEN SOSIAL DAN HISTORICAL PRICE MENGGUNAKAN LONG-SHORT TERM MEMMORY (LSTM)')

===================
Analisis Sentimen pada Twitter Terhadap Kinerja Pemerintahan Presiden Joko Widodo Menggunakan Algoritma Naive Bayes Classifier, K-Nearest Neighbors, dan Support Vector Machine
===================
Analisis Sentimen Masyarakat pada Media Sosial Twitter terhadap Pilkada Dki Jakarta 2017 dengan Pendekatan Prediktif dan Deskriptif
===================
Peramalan Triase Pasien Instalasi Gawat Darurat (IGD) Menggunakan Pendekatan Klasifikasi Machine Learning (Studi Kasus: Rumah Sakit UNS)
===================
Prediksi Rating Produk Kosmetik Berdasarkan Teks Review Pada Website Female Daily Menggunakan Metode Naïve Bayes Classifier
===================
Pengaruh Variabel Bebas dalam Analisis Kapasitas Dukung dan Penurunan
Fondasi Tiang Menggunakan Correlation Based Feature Selection (CFS)
===================
Pengembangan Model Pembelajaran Historical Group Research Berbasis Pedagogi Kritis untuk Meningkatkan Keterampilan Berpikir Historis Peserta Didik SMA Negeri 1 Giri Taruna Bangsa Banyuwangi
===================
Model Prediksi Kekeringan Menggunakan Machine Learning Kasus di Kabupaten Wonogiri
===================
Undersampling Majority Class pada Kasus Imbalanced Dataset dan Aplikasinya Pada Deteksi Anomali Transaksi Kartu Kredit
===================
Perbandingan Penerapan Model Pembelajaran Discovery Learning Dengan Creative Problem Solving dalam Meningkatkan Pemahaman Konsep dan Hasil Belajar Peserta Didik pada Mata Pelajaran Sistem Komputer di SMK Negeri 6 Surakarta
===================
COLOR-EMBEDDED-GRAYSCALE IMAGE MENGGUNAKAN RESIDUAL
ATTENTION NETWORK
===================
Inovasi Model Problem Based Learning melalui Google Classroom untuk Menguatkan Civic Knowledge Siswa pada Pembelajaran Dalam Jaringan (Studi pada Mata Pelajaran PPKn di SMK Negeri 9 Surakarta).
===================
Hubungan Self Efficacy dan Dukungan Sosial Keluarga dengan Self Regulated Learning Selama Masa Pandemi Covid-19 pada Siswa SMA Trisoko Jakarta
===================
Pengembangan Media Pembelajaran Android Berbasis Problem Based Learning dengan Android Studio pada Materi Getaran Harmonis Sederhana
===================
Pengenalan Bahasa Isyarat ASL  (American Sign Language) menggunakan Convolutional Neural Network dan Mediapipe Hand Tracking

#Deploy

In [ ]:
import pickle

pickle.dump(df.to_dict(),open('digilib.pkl','wb'))

In [ ]:
pickle.dump(similarity,open('similarity.pkl','wb'))