# Library

In [ ]:
import pandas as pd 
import numpy as np

Mounted at /content/drive

# Import Dataframe

In [ ]:
df = pd.read_csv('/content/data_film.csv')
df

,movie,Genre,Storyline,plot
0,Guardians of the Galaxy Vol. 3,"['Action', 'Adventure', 'Comedy']","""There is no God. That's why I stepped in."" I ...","Still reeling from the loss of Gamora, Peter Q..."
1,Citadel,"['Action', 'Drama', 'Thriller']","Like others, I found the opening sequence on t...","Global spy agency Citadel has fallen, and its ..."
2,Peter Pan & Wendy,"['Action', 'Adventure', 'Comedy']",Much of what you expect from pretty much every...,"Follow the adventures of Peter Pan, a boy who ..."
3,Dungeons & Dragons: Honor Among Thieves,"['Action', 'Adventure', 'Comedy']","I've never played the game, and not sure if I ...",A charming thief and a band of unlikely advent...
4,Dune: Part Two,"['Action', 'Adventure', 'Drama']",NaN,A boy becomes the Messiah of nomads on a deser...
...,...,...,...,...
351,Schmigadoon!,"['Comedy', 'Fantasy', 'Musical']",I'm here for keagen but it's pretty good I can...,A couple on a backpacking trip discovers a mag...
352,True Lies,"['Action', 'Comedy', 'Thriller']",Joining Terminator 2: Judgement Day as one of ...,"A fearless, globe-trotting, terrorist-battling..."
353,Champions,"['Comedy', 'Drama', 'Sport']","Despite mixed reviews, I absolutely loved this...",A former minor-league basketball coach is orde...
354,Seinfeld,['Comedy'],The best sitcom ever to be produced and aired ...,The continuing misadventures of neurotic New Y...
355,Lucky Hank,"['Comedy', 'Drama']","Just watched the first episode of ""Lucky Hank""...",An English department chairman at an underfund...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 208 entries, 0 to 321
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movie      208 non-null    object
 1   Genre      208 non-null    object
 2   Storyline  208 non-null    object
 3   plot       208 non-null    object
dtypes: object(4)
memory usage: 8.1+ KB

In [ ]:
df = df.dropna().reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movie      208 non-null    object
 1   Genre      208 non-null    object
 2   Storyline  208 non-null    object
 3   plot       208 non-null    object
dtypes: object(4)
memory usage: 6.6+ KB

In [ ]:
df.isnull().sum()

movie        0
Genre        0
Storyline    0
plot         0
dtype: int64

In [ ]:
df = df.drop_duplicates(subset=['movie']).reset_index(drop=True)
df

,movie,Genre,Storyline,plot
0,Guardians of the Galaxy Vol. 3,"['Action', 'Adventure', 'Comedy']","""There is no God. That's why I stepped in."" I ...","Still reeling from the loss of Gamora, Peter Q..."
1,Citadel,"['Action', 'Drama', 'Thriller']","Like others, I found the opening sequence on t...","Global spy agency Citadel has fallen, and its ..."
2,Peter Pan & Wendy,"['Action', 'Adventure', 'Comedy']",Much of what you expect from pretty much every...,"Follow the adventures of Peter Pan, a boy who ..."
3,Dungeons & Dragons: Honor Among Thieves,"['Action', 'Adventure', 'Comedy']","I've never played the game, and not sure if I ...",A charming thief and a band of unlikely advent...
4,Sweet Tooth,"['Action', 'Adventure', 'Drama']",I have to say Sweet Tooth was so much better t...,A boy who is half human and half deer survives...
...,...,...,...,...
203,Ghosts,"['Comedy', 'Fantasy']",Come on y'all! Why are some of you wonderful r...,A young couple's dreams come true when they in...
204,Schmigadoon!,"['Comedy', 'Fantasy', 'Musical']",I'm here for keagen but it's pretty good I can...,A couple on a backpacking trip discovers a mag...
205,Champions,"['Comedy', 'Drama', 'Sport']","Despite mixed reviews, I absolutely loved this...",A former minor-league basketball coach is orde...
206,Seinfeld,['Comedy'],The best sitcom ever to be produced and aired ...,The continuing misadventures of neurotic New Y...
207,Lucky Hank,"['Comedy', 'Drama']","Just watched the first episode of ""Lucky Hank""...",An English department chairman at an underfund...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movie      208 non-null    object
 1   Genre      208 non-null    object
 2   Storyline  208 non-null    object
 3   plot       208 non-null    object
dtypes: object(4)
memory usage: 6.6+ KB

In [ ]:
df['tags'] = df['Genre'] + ' ' + df['Storyline'] + ' ' + df['plot']
df.drop(['Genre', 'Storyline', 'plot'], axis=1, inplace=True)
df

,movie,tags
0,Guardians of the Galaxy Vol. 3,"['Action', 'Adventure', 'Comedy'] ""There is no..."
1,Citadel,"['Action', 'Drama', 'Thriller'] Like others, I..."
2,Peter Pan & Wendy,"['Action', 'Adventure', 'Comedy'] Much of what..."
3,Dungeons & Dragons: Honor Among Thieves,"['Action', 'Adventure', 'Comedy'] I've never p..."
4,Sweet Tooth,"['Action', 'Adventure', 'Drama'] I have to say..."
...,...,...
203,Ghosts,"['Comedy', 'Fantasy'] Come on y'all! Why are s..."
204,Schmigadoon!,"['Comedy', 'Fantasy', 'Musical'] I'm here for ..."
205,Champions,"['Comedy', 'Drama', 'Sport'] Despite mixed rev..."
206,Seinfeld,['Comedy'] The best sitcom ever to be produced...
207,Lucky Hank,"['Comedy', 'Drama'] Just watched the first epi..."

# Preprocessing

In [ ]:
movie_df = df.copy()

## Remove Punctuation

In [ ]:
movie_df['tags_cleaned'] = movie_df['tags'].str.replace(r'[^\w\s]+', '')
movie_df

<ipython-input-137-ec67416b9e2f>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  movie_df['tags_cleaned'] = movie_df['tags'].str.replace(r'[^\w\s]+', '')

,movie,tags,tags_cleaned
0,Guardians of the Galaxy Vol. 3,"['Action', 'Adventure', 'Comedy'] ""There is no...",Action Adventure Comedy There is no God Thats ...
1,Citadel,"['Action', 'Drama', 'Thriller'] Like others, I...",Action Drama Thriller Like others I found the ...
2,Peter Pan & Wendy,"['Action', 'Adventure', 'Comedy'] Much of what...",Action Adventure Comedy Much of what you expec...
3,Dungeons & Dragons: Honor Among Thieves,"['Action', 'Adventure', 'Comedy'] I've never p...",Action Adventure Comedy Ive never played the g...
4,Sweet Tooth,"['Action', 'Adventure', 'Drama'] I have to say...",Action Adventure Drama I have to say Sweet Too...
...,...,...,...
203,Ghosts,"['Comedy', 'Fantasy'] Come on y'all! Why are s...",Comedy Fantasy Come on yall Why are some of yo...
204,Schmigadoon!,"['Comedy', 'Fantasy', 'Musical'] I'm here for ...",Comedy Fantasy Musical Im here for keagen but ...
205,Champions,"['Comedy', 'Drama', 'Sport'] Despite mixed rev...",Comedy Drama Sport Despite mixed reviews I abs...
206,Seinfeld,['Comedy'] The best sitcom ever to be produced...,Comedy The best sitcom ever to be produced and...
207,Lucky Hank,"['Comedy', 'Drama'] Just watched the first epi...",Comedy Drama Just watched the first episode of...

## Case Folding

In [ ]:
movie_df['tags_cleaned'] = movie_df['tags_cleaned'].str.lower()
movie_df

,movie,tags,tags_cleaned
0,Guardians of the Galaxy Vol. 3,"['Action', 'Adventure', 'Comedy'] ""There is no...",action adventure comedy there is no god thats ...
1,Citadel,"['Action', 'Drama', 'Thriller'] Like others, I...",action drama thriller like others i found the ...
2,Peter Pan & Wendy,"['Action', 'Adventure', 'Comedy'] Much of what...",action adventure comedy much of what you expec...
3,Dungeons & Dragons: Honor Among Thieves,"['Action', 'Adventure', 'Comedy'] I've never p...",action adventure comedy ive never played the g...
4,Sweet Tooth,"['Action', 'Adventure', 'Drama'] I have to say...",action adventure drama i have to say sweet too...
...,...,...,...
203,Ghosts,"['Comedy', 'Fantasy'] Come on y'all! Why are s...",comedy fantasy come on yall why are some of yo...
204,Schmigadoon!,"['Comedy', 'Fantasy', 'Musical'] I'm here for ...",comedy fantasy musical im here for keagen but ...
205,Champions,"['Comedy', 'Drama', 'Sport'] Despite mixed rev...",comedy drama sport despite mixed reviews i abs...
206,Seinfeld,['Comedy'] The best sitcom ever to be produced...,comedy the best sitcom ever to be produced and...
207,Lucky Hank,"['Comedy', 'Drama'] Just watched the first epi...",comedy drama just watched the first episode of...

## Stopword

In [ ]:
!pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.65.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2022.10.31)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.3)

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
stop = set(stopwords.words('english'))
print(stop)

{'themselves', 'where', 'll', 'your', 'to', 'those', 'before', 'above', 'their', 'as', 'we', 'each', "hasn't", 'ma', "aren't", 'have', "wouldn't", 'below', 'our', 'nor', "shan't", 'don', "shouldn't", 'or', 'being', 'doesn', 'did', 'no', 'until', 'further', 'only', 'needn', 'such', "didn't", 'these', 'under', 'its', 'once', 'hasn', 'some', 'him', 'over', 'didn', 'this', 'into', 'during', 'yourself', 'between', 'himself', 'whom', 't', "won't", 'down', "don't", 'there', "couldn't", 'shan', 'were', 'up', 'about', "wasn't", 's', "isn't", 'other', 'i', "should've", 'not', 'isn', 'mightn', "you're", 'what', 'yourselves', 'can', 'while', 'any', 'on', 'mustn', 'both', 'then', 'he', 'after', 'with', 'by', 'was', 'hadn', 've', 'ourselves', 'an', 'out', 'own', 'too', 'wasn', 'is', 'same', "mightn't", "hadn't", 'most', 'through', 'again', 'had', 'a', 'yours', "that'll", "mustn't", 'if', 'her', 'theirs', 'which', 'has', 'of', 'who', 'his', 'all', 'it', 'she', 'the', 'should', 'been', 'why', 'against', 'aren', 'couldn', 'very', 'm', 'they', 'ours', 'more', 'and', 'them', 'than', 'won', 're', 'having', 'because', 'myself', 'do', 'ain', 'are', "she's", 'so', 'but', 'you', "you'd", "weren't", 'itself', 'am', 'wouldn', 'just', 'at', 'for', "you'll", 'haven', 'd', 'that', 'herself', "needn't", "you've", 'doing', 'weren', 'me', 'from', 'does', "it's", 'few', 'in', 'off', 'my', 'will', 'hers', 'when', 'now', 'o', 'how', 'be', 'here', "haven't", 'shouldn', 'y', "doesn't"}

In [ ]:
def rem_en(input_txt):
    words = input_txt.split()
    noise_free_words = [word for word in words if word not in stop] 
    noise_free_text = " ".join(noise_free_words) 
    return noise_free_text

movie_df["tags_cleaned"] = movie_df["tags_cleaned"].apply(lambda s: rem_en(s))
movie_df

,movie,tags,tags_cleaned
0,Guardians of the Galaxy Vol. 3,"['Action', 'Adventure', 'Comedy'] ""There is no...",action adventure comedy god thats stepped admi...
1,Citadel,"['Action', 'Drama', 'Thriller'] Like others, I...",action drama thriller like others found openin...
2,Peter Pan & Wendy,"['Action', 'Adventure', 'Comedy'] Much of what...",action adventure comedy much expect pretty muc...
3,Dungeons & Dragons: Honor Among Thieves,"['Action', 'Adventure', 'Comedy'] I've never p...",action adventure comedy ive never played game ...
4,Sweet Tooth,"['Action', 'Adventure', 'Drama'] I have to say...",action adventure drama say sweet tooth much be...
...,...,...,...
203,Ghosts,"['Comedy', 'Fantasy'] Come on y'all! Why are s...",comedy fantasy come yall wonderful reviewers l...
204,Schmigadoon!,"['Comedy', 'Fantasy', 'Musical'] I'm here for ...",comedy fantasy musical im keagen pretty good c...
205,Champions,"['Comedy', 'Drama', 'Sport'] Despite mixed rev...",comedy drama sport despite mixed reviews absol...
206,Seinfeld,['Comedy'] The best sitcom ever to be produced...,comedy best sitcom ever produced aired tv ever...
207,Lucky Hank,"['Comedy', 'Drama'] Just watched the first epi...",comedy drama watched first episode lucky hank ...

## Lemmazitation

In [ ]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')

lemmatiser = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
backup = movie_df.copy()

In [ ]:
def lemmatize_words(text):
  words = text.split()
  words = [lemmatiser.lemmatize(word,pos='v') for word in words]
  return ' '.join(words)
movie_df["tags_cleaned"] = movie_df["tags_cleaned"].apply(lemmatize_words)
movie_df

,movie,tags,tags_cleaned
0,Guardians of the Galaxy Vol. 3,"['Action', 'Adventure', 'Comedy'] ""There is no...",action adventure comedy god thats step admit o...
1,Citadel,"['Action', 'Drama', 'Thriller'] Like others, I...",action drama thriller like others find open se...
2,Peter Pan & Wendy,"['Action', 'Adventure', 'Comedy'] Much of what...",action adventure comedy much expect pretty muc...
3,Dungeons & Dragons: Honor Among Thieves,"['Action', 'Adventure', 'Comedy'] I've never p...",action adventure comedy ive never play game su...
4,Sweet Tooth,"['Action', 'Adventure', 'Drama'] I have to say...",action adventure drama say sweet tooth much be...
...,...,...,...
203,Ghosts,"['Comedy', 'Fantasy'] Come on y'all! Why are s...",comedy fantasy come yall wonderful reviewers l...
204,Schmigadoon!,"['Comedy', 'Fantasy', 'Musical'] I'm here for ...",comedy fantasy musical im keagen pretty good c...
205,Champions,"['Comedy', 'Drama', 'Sport'] Despite mixed rev...",comedy drama sport despite mix review absolute...
206,Seinfeld,['Comedy'] The best sitcom ever to be produced...,comedy best sitcom ever produce air tv every e...
207,Lucky Hank,"['Comedy', 'Drama'] Just watched the first epi...",comedy drama watch first episode lucky hank aw...